.container-card-last-game {
  width: 100%;
  display: flex;
  min-height: 90px;
  margin-top: 20px;
  background-color: #dbdfe6;
  align-items: center;
  justify-content: space-between;
}

.correct-box {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
}

.invalid-box {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
}

.check-icon {
  height: 30px;
}

.timer {
  color: #6b737d;
  width: 20%;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #959599; /* creates padding around scroll thumb */
}
